
 
    
    

     <link rel="stylesheet"  href="./css/favorites.css">
	<link rel="stylesheet"  href="./css/cor.css">
	<link rel="stylesheet" href="./css/header.css">
	<link rel="stylesheet"  href="./css/main.css">
	<link rel="stylesheet"  href="./css/footer.css">
	<link rel="stylesheet"  href="./css/artistplaylist.css">
	<link rel="stylesheet"  href="./css/trending.css">
	<link rel="stylesheet"  href="./css/genre.css">
	<link rel="stylesheet"  href="./css/queue.css">
    <link rel="stylesheet" href="./css/albums.css">
    
 
 
    <%  if( locals.user ){  %>
        <header>
            <div class="header border">
                <div id="player_logo" class="border center">
                    <div class="border"></div>
                </div>
                <div id="user_name" class="border">
                    <h2><%=  user.name %></h2>
                    <a class="textss" href="#favor">favorites</a>
                </div>
                <div id="sign_out" class="border center">
                    <a href="/sign-out" class="border" >signout</a>
                </div>
                
            </div>
            
        </header>
    
    
    <!-- Slideshow container -->
        <div class="slideshow-container">
    
          <!-- Full-width images with number and caption text -->
          <div class="mySlides fade">
            <div class="numbertext">1 / 4</div>
            <div class="coroselbox" style="background-image: url('./css/images/img1.jpg'); background-size: 100% 100%;"><a class="playiconimage"></a></div>
            <div class="text"></div>
          </div>
    
          <div class="mySlides fade">
            <div class="numbertext">2 / 4</div>
            <div class="coroselbox" style="background-image: url('./css/images/img2.jpg');background-size: 100% 100%;"><a class="playiconimage"></a></div>
            <div class="text"></div>
          </div>
    
          <div class="mySlides fade">
            <div class="numbertext">3 / 4</div>
            <div class="coroselbox" style="background-image: url('./css/images/img3.jpg');background-size: 100% 100%;"><a class="playiconimage"></a></div>
            <div class="text"></div>
          </div>
          <div class="mySlides fade">
            <div class="numbertext">4 / 4</div>
            <div class="coroselbox" style="background-image: url('img2.jpg');background-size: 100% 100%;"><a class="playiconimage"></a></div>
            <div class="text"></div>
          </div>
    
          <!-- Next and previous buttons -->
          <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
          <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>
    
    <!-- main section of player contain artist genre trending and playlist-->
    <main class="main border" >
        <div class="border" id="artist_genre_trending">
            <section id="artist" class="border">
                <div id="edsheeran"><a href="/toggleArtist/?name=edsheeran&id=<%=user._id%>&image=edsheeranplaylist">fav</a><a href="#edsheeranplaylist" class="playicon" ></a></div>
                <div id="justin"><a href="/toggleArtist/?name=justin&id=<%=user._id%>&image=justinplaylist">fav</a><a href="#justinplaylist" class="playicon" ></a></div>
                <div id="rihana"><a href="/toggleArtist/?name=rihana&id=<%=user._id%>&image=rihanaplaylist">fav</a><a href="#rihanaplaylist" class="playicon" ></a></div>
                <div id="maroon"><a href="/toggleArtist/?name=maroon&id=<%=user._id%>&image=maroonplaylist">fav</a><a href="#maroonplaylist" class="playicon" ></a></div>
                <div id="taylor"><a href="/toggleArtist/?name=taylor&id=<%=user._id%>&image=taylorplaylist">fav</a><a href="#taylorplaylist" class="playicon" ></a></div>
                <div id="bruno"><a href="/toggleArtist/?name=bruno&id=<%=user._id%>&image=brunoplaylist">fav</a><a href="#brunoplaylist" class="playicon" ></a></div>
                <div id="john"><a href="fav">fav</a><a href="#johnplaylist" class="playicon" ></a></div>
                
            </section>
            <section id="genre" class="border">
                <div id="party" class="genrebox"><a href="#partyplaylist" class="playico" ></a>Party</div>
                <div id="electronic" class="genrebox"><a href="#electronicplaylist" class="playico" ></a>Electronic</div>
                <div id="roadtrip" class="genrebox"><a href="#roadtripplaylist" class="playico" ></a>Roadtrip</div>
                <div id="relax" class="genrebox"><a href="#relaxplaylist" class="playico" ></a>Relax</div>
                <div class="genrebox"><a href="#relaxplaylist" class="playico" ></a></div>
                
            </section>
            <section  id="trending" class="border">
                <div class="border"><a href="fav">fav</a><a href="#" class="playic" ></a></div>
                <div class="border"><a href="fav">fav</a><a href="#" class="playic" ></a></div>
                <div class="border"><a href="fav">fav</a><a href="#" class="playic" ></a></div>
                <div class="border"><a href="fav">fav</a><a href="#" class="playic" ></a></div>
                <div class="border"><a href="fav">fav</a><a href="#" class="playic" ></a></div>
                <div class="border"><a href="fav">fav</a><a href="#" class="playic" ></a></div>
                <div class="border"><a href="fav">fav</a><a href="#" class="playic" ></a></div>
                
            </section>
            
        </div>
        <div class="border" id="playlist" >
            <h1>Songs</h1><a href="#playlist" onclick="play('songs')">Playall</a>
            <div id="head" class="border"><b>playlist</b></div>
            <div  class="songs " >
                <div class="baricon "></div>
                <div id="song1" class="songimage " ><a onclick="Avici()"  class="play" ></a><audio class="queue_songs" src="https://musicplayerdig.s3.us-east-2.amazonaws.com/music/01+Avicii+-+Wake+Me+Up.mp3" ></audio></div>
                <div  class="songtexts" ><b>Wake me up</b> <br>Avici</div>
                <a  class="hearts" href="/togglefavsong/?name=wake me up&id=song1&onclic=Avici()&source=https://musicplayerdig.s3.us-east-2.amazonaws.com/music/01+Avicii+-+Wake+Me+Up.mp3"></a>
            </div>
            
            <div  class="songs " >
                <div class="baricon "></div>
                <div id="song2" class="songimage " ><a onclick="charlie()"  class="play" ></a><audio class="queue_songs" src="https://musicplayerdig.s3.us-east-2.amazonaws.com/music/04+Icona+Pop+Feat+Charli+XCX+-+I+Love+It.mp3"></audio></div>
                <div  class="songtexts " ><b>Icona pop</b> <br>Charlie XCX</div>
                <a  class="hearts" href="/togglefavsong/?name=Iconapop&id=song2&onclic=charlie()&source=https://musicplayerdig.s3.us-east-2.amazonaws.com/music/04+Icona+Pop+Feat+Charli+XCX+-+I+Love+It.mp3"></a>
            </div>
            <div  class="songs " >
                <div class="baricon "></div>
                <div id="song3" class="songimage " ><a onclick="pharell()"  class="play" ></a><audio class="queue_songs" src="https://musicplayerdig.s3.us-east-2.amazonaws.com/music/02+Robin+Thicke+Feat+T.I.+%26+Pharrell+-+Blurred+Lines.mp3"></audio></div>
    
                <div  class="songtexts " ><b>blurred lines</b> <br>pharell</div>
                <a  class="hearts" href="/togglefavsong/?name=blurredlines&id=song3&onclic=pharell()&source=https://musicplayerdig.s3.us-east-2.amazonaws.com/music/02+Robin+Thicke+Feat+T.I.+&+Pharrell+-+Blurred+Lines.mp3"></a>
            </div>
            <div  class="songs " >
                <div class="baricon "></div>
                <div id="song4" class="songimage " ><a onclick="william()"  class="play" ></a><audio class="queue_songs" src="https://musicplayerdig.s3.us-east-2.amazonaws.com/music/05+Will.i.am+-+Bang+Bang.mp3"></audio></div>
                <div  class="songtexts " ><b>Bang-bang</b><br>william</div>
                <a  class="hearts" href="/togglefavsong/?name=Bang-Bang&id=song4&onclic=william()&source=https://musicplayerdig.s3.us-east-2.amazonaws.com/music/05+Will.i.am+-+Bang+Bang.mp3"></a>
            </div>
            <div  class="songs " >
                <div class="baricon"></div>
                <div id="song5" class="songimage " ><a onclick="sam_smith()"  class="play" ></a><audio class="queue_songs" src="https://musicplayerdig.s3.us-east-2.amazonaws.com/music/06+Naughty+Boy+Feat+Sam+Smith+-+La+La+La.mp3"></audio></div>
                <div  class="songtexts" ><b>naughty boy</b> <br>sam smith</div>
                <a  class="hearts" href="/togglefavsong/?name=naughtyboy&id=song5&onclic=sam_smith()&source=https://musicplayerdig.s3.us-east-2.amazonaws.com/music/06+Naughty+Boy+Feat+Sam+Smith+-+La+La+La.mp3"></a>
            </div>
            <div  class="songs " >
                <div class="baricon "></div>
                <div id="song6" class="songimage " ><a onclick="tommy_trash()"  class="play" ></a><audio class="queue_songs" src="https://musicplayerdig.s3.us-east-2.amazonaws.com/music/07+Sebastian+Ingrosso%2C+Tommy+Trash+%26+John+Martin+-+Reload.mp3"></audio></div>
                <div  class="songtexts " ><b>sebastian</b> <br>tommy trash</div>
                <a  class="hearts" href="/togglefavsong/?name=sebastian&id=song6&onclic=tommy_trash()&source=https://musicplayerdig.s3.us-east-2.amazonaws.com/music/07+Sebastian+Ingrosso,+Tommy+Trash+&+John+Martin+-+Reload.mp3"></a>
            </div>
            <div  class="songs " >
                <div class="baricon "></div>
                <div id="song7" class="songimage " ><a onclick="selena()"  class="play" ></a><audio class="queue_songs" src="https://musicplayerdig.s3.us-east-2.amazonaws.com/music/08+Selena+Gomez+-+Come+%26+Get+It.mp3"></audio></div>
                <div  class="songtexts " ><b>come and get it</b> <br>Selena</div>
                <a  class="hearts" href="/togglefavsong/?name=come and getit&id=song7&onclic=selena()&source=https://musicplayerdig.s3.us-east-2.amazonaws.com/music/08+Selena+Gomez+-+Come+&+Get+It.mp3"></a>
            </div>
            <div  class="songs " >
                <div class="baricon "></div>
                <div id="song8" class="songimage " ><a onclick="jack()"  class="play" ></a><audio class="queue_songs" src="https://musicplayerdig.s3.us-east-2.amazonaws.com/music/09+Breach+-+Jack.mp3"></audio></a></div>
                <div  class="songtexts " ><b>breach</b><br>jack</div>
                <a  class="hearts" href="/togglefavsong/?name=breach&id=song8&onclic=jack()&source=https://musicplayerdig.s3.us-east-2.amazonaws.com/music/09+Breach+-+Jack.mp3"></a>
            </div>
            <div  class="songs " >
                <div class="baricon "></div>
                <div id="song9" class="songimage " ><a onclick="passengers()"  class="play" ></a><audio class="queue_songs" src="https://musicplayerdig.s3.us-east-2.amazonaws.com/music/10+Passenger+-+Let+Her+Go.mp3"></audio></a></div>
                <div  class="songtexts " ><b>Let her go</b><br>passengers</div>
                <a  class="hearts" href="/togglefavsong/?name=Let her go&id=song9&onclic=passengers()&source=https://musicplayerdig.s3.us-east-2.amazonaws.com/music/10+Passenger+-+Let+Her+Go.mp3"></a>
            </div>
            <div  class="songs " >
                <div class="baricon "></div>
                <div id="song10" class="songimage " ><a onclick="pharrell()"  class="play" ></a><audio class="queue_songs" src="https://musicplayerdig.s3.us-east-2.amazonaws.com/music/11+Daft+Punk+Feat+Pharrell+Williams+-+Get+Lucky.mp3"></audio></a></div>
                <div  class="songtexts " ><b>daft</b><br>pharrell</div>
                <a  class="hearts" href="/togglefavsong/?name=daft&id=song10&onclic=pharrell()&source=https://musicplayerdig.s3.us-east-2.amazonaws.com/music/11+Daft+Punk+Feat+Pharrell+Williams+-+Get+Lucky.mp3"></a>
            </div>
            <div  class="songs " >
                <div class="baricon "></div>
                <div id="song11" class="songimage " ><a onclick="jason_derullo()"  class="play" ></a><audio class="queue_songs" src="https://musicplayerdig.s3.us-east-2.amazonaws.com/music/12+Jason+Derulo+-+The+Other+Side.mp3"></audio></a></div>
                <div  class="songtexts " ><b>the other side</b><br>jason derullo</div>
                <a  class="hearts" href="/togglefavsong/?name=the other side&id=song11&onclic=jason_derullo()&source=https://musicplayerdig.s3.us-east-2.amazonaws.com/music/12+Jason+Derulo+-+The+Other+Side.mp3"></a>
            </div>
            <div  class="songs " >
                <div class="baricon "></div>
                <div id="song12" class="songimage " ><a onclick="taylor_swift()"  class="play" ></a><audio class="queue_songs" src="https://musicplayerdig.s3.us-east-2.amazonaws.com/music/13+Taylor+Swift+Feat+Ed+Shreeran+-+Everything+Has+Changed.mp3"></audio></a></div>
                <div  class="songtexts " ><b>everything</b><br>taylor swift</div>
                <a  class="hearts" href="/togglefavsong/?name=everything&id=song12&onclic=taylor_swift()&source=https://musicplayerdig.s3.us-east-2.amazonaws.com/music/13+Taylor+Swift+Feat+Ed+Shreeran+-+Everything+Has+Changed.mp3"></a>
            </div>
            <div  class="songs " >
                <div class="baricon "></div>
                <div id="song13" class="songimage " ><a onclick="Avril()"  class="play" ></a><audio class="queue_songs" src="https://musicplayerdig.s3.us-east-2.amazonaws.com/music/14+Avril+Lavigne+-+Here's+To+Never+Growing+Up+(Explicit+Edit).mp3"></audio></a></div>
                <div  class="songtexts " ><b>never growing </b><br>Avril</div>
                <a  class="hearts" href="/togglefavsong/?name=never growing&id=song13&onclic=Avril()&source=https://musicplayerdig.s3.us-east-2.amazonaws.com/music/14+Avril+Lavigne+-+Here's+To+Never+Growing+Up+(Explicit+Edit).mp3"></a>
            </div>
            
            <div  class="songs " >
                <div class="baricon "></div>
                <div id="song14" class="songimage " ><a onclick="bruno()"  class="play" ></a><audio class="queue_songs" src="https://musicplayerdig.s3.us-east-2.amazonaws.com/music/16+Bruno+Mars+-+Treasure+(Explicit+Edit).mp3"></audio></a></div>
                <div  class="songtexts " ><b>treasure</b><br>bruno</div>
                <a  class="hearts" href="/togglefavsong/?name=treasure&id=song14&onclic=bruno()&source=https://musicplayerdig.s3.us-east-2.amazonaws.com/music/16+Bruno+Mars+-+Treasure+(Explicit+Edit).mp3"></a>
            </div>
            <div  class="songs " >
                <div class="baricon "></div>
                <div id="song15" class="songimage " ><a onclick="timberlake()"  class="play" ></a><audio class="queue_songs" src="https://musicplayerdig.s3.us-east-2.amazonaws.com/music/15+Jay-Z+Feat+Justin+Timberlake+-+Holy+Grail.mp3"></audio></a></div>
                <div  class="songtexts " ><b>Holy grail</b><br>justin timberlake</div>
                <a  class="hearts" href="/togglefavsong/?name=Holy grail&id=song15&onclic=timberlake()&source=https://musicplayerdig.s3.us-east-2.amazonaws.com/music/15+Jay-Z+Feat+Justin+Timberlake+-+Holy+Grail.mp3"></a>
            </div>
            <div  class="songs " >
                <div class="baricon "></div>
                <div id="song16" class="songimage " ><a onclick="louis()"  class="play" ></a><audio class="queue_songs" src="https://musicplayerdig.s3.us-east-2.amazonaws.com/music/17+Chase+%26+Status+Feat+Louis+M%5Ettrs+-+Lost+%26+Not+Found.mp3"></audio></a></div>
                <div  class="songtexts " ><b>not found</b><br>Louis</div>
                <a  class="hearts" href="/togglefavsong/?name=not found&id=song16&onclic=louis()&source=https://musicplayerdig.s3.us-east-2.amazonaws.com/music/17+Chase+&+Status+Feat+Louis+M^ttrs+-+Lost+&+Not+Found.mp3"></a>
            </div>
            <div  class="songs " >
                <div class="baricon "></div>
                <div id="song17" class="songimage " ><a onclick="murs()"  class="play" ></a><audio class="queue_songs" src="https://musicplayerdig.s3.us-east-2.amazonaws.com/music/18+Olly+Murs+-+Dear+Darlin'.mp3"></audio></a></div>
                <div  class="songtexts " ><b>Dear darlin</b><br>Olly murs</div>
                <a  class="hearts" href="/togglefavsong/?name=Dear darlin&id=song17&onclic=murs()&source=https://musicplayerdig.s3.us-east-2.amazonaws.com/music/18+Olly+Murs+-+Dear+Darlin'.mp3"></a>
            </div>
            <div  class="songs " >
                <div class="baricon "></div>
                <div id="song18" class="songimage " ><a onclick="lawson()"  class="play" ></a><audio class="queue_songs" src="https://musicplhayerdig.s3.us-east-2.amazonaws.com/music/19+Lawson+Feat+B.o.B+-+Brokenhearted.mp3"></audio></a></div>
                <div  class="songtexts " ><b>Brokenhearted</b><br>Lawson</div>
                <a  class="hearts" href="/togglefavsong/?name=BrokenHearted&id=song18&onclic=lawson()&source=https://musicplhayerdig.s3.us-east-2.amazonaws.com/music/19+Lawson+Feat+B.o.B+-+Brokenhearted.mp3"></a>
            </div>
            <div  class="songs " >
                <div class="baricon "></div>
                <div id="song19" class="songimage " ><a onclick="jessie()"  class="play" ></a><audio class="queue_songs" src="https://musicplayerdig.s3.us-east-2.amazonaws.com/music/20+Jessie+J+Feat+Big+Sean+%26+Dizzee+Rascal+-+Wild.mp3"></audio></a></div>
                <div  class="songtexts " ><b>Dizzee</b><br>jessie</div>
                <a  class="hearts" href="/togglefavsong/?name=Dizzee&id=song19&onclic=jessie()&source=https://musicplayerdig.s3.us-east-2.amazonaws.com/music/20+Jessie+J+Feat+Big+Sean+%26+Dizzee+Rascal+-+Wild.mp3"></a>
            </div>
            <div  class="songs " >
                <div class="baricon "></div>
                <div id="song20" class="songimage " ><a onclick="Arctic()"  class="play" ></a><audio class="queue_songs" src="https://musicplayerdig.s3.us-east-2.amazonaws.com/music/21+Arctic+Monkeys+-+Do+I+Wanna+Know.mp3"></audio></a></div>
                <div  class="songtexts " ><b>Do i wanna</b><br>Arctic Monkeys</div>
                <a  class="hearts" href="/togglefavsong/?name=Do i wanna&id=song20&onclic=Arctic()&source=https://musicplayerdig.s3.us-east-2.amazonaws.com/music/21+Arctic+Monkeys+-+Do+I+Wanna+Know.mp3"></a>
            </div>
    
            <a  class="hearts" href="/togglefavsong/?name&id=song1&onclic=&source="></a>
            
        
            
        </div>
    </main>
    
    <!-- albums -->
    <div class="albums">
        <div class="border albumbox"><a href="fav">fav</a><a href="#albumlist" class="playico"></a></div>
        <div class="border albumbox"><a href="fav">fav</a><a href="#albumlist" class="playico"></a></div>
        <div class="border albumbox"><a href="fav">fav</a><a href="#albumlist" class="playico"></a></div>
        <div class="border albumbox"><a href="fav">fav</a><a href="#albumlist" class="playico"></a></div>
        <div class="border albumbox"><a href="fav">fav</a><a href="#albumlist" class="playico"></a></div>
        <div class="border albumbox"><a href="fav">fav</a><a href="#albumlist" class="playico"></a></div>
        <div class="border albumbox"><a href="fav">fav</a><a href="#albumlist" class="playico"></a></div>
                
    </div>
    
    
    <!-- footer -->
    <footer class="footer border">
            <div class="border center" id="song_image">
                <div class="border" id="b"></div>
            </div>
            <div class="border center" id="music_logo">
                <div class="border">logo</div>
                <p>songname</p>
            </div>
            <div class="border center " id="song">
                <div class="border" id="backward" >backward</div>
                <audio id="playing_song" src="https://musicplayerdig.s3.us-east-2.amazonaws.com/music/03+John+Newman+-+Love+Me+Again.mp3" controls></audio>
                <div class="border" id="forward" >forward</div>
            </div>
            <div class="border center" id="favorite"><a href="fav">fav</a></div>
    
    </footer>
    
    
    <!-- artists playlist -->
    <div id="edsheeranplaylist" class="border ArtistText">
            <div id="artistpf" class="border">
                <div id="edsheeran" class="artistimage"></div>
                <div id="artistportfolio" class="border">
                    <div class="artistinfo border" >
                        <b>Edsheeran</b><br>
                        Edward Christopher Sheeran, MBE (/ˈʃɪərən/; born 17 February 1991) is an English singer, songwriter, record producer, and actor. In early 2011
                    </div>
                    <div class="artistinfo border">
                        <div id="playall" onclick="changeArtist('A')" >Play all</div>
                        <div id="follow" >Follow</div>
                        <a  href="#artist_genre_trending" style="color: white">X(close)</a>
                    </div>
                </div>
            </div>
            
            <div id="artistplaylist" class="border">
                <h3>artistplaylist</h3>
                <div  class="artistSong A " >
                    <div class="baricon "></div>
                    <div id="song20" class="songimage " ><a onclick="lighters('A')"  class="Artistplay" ></a><audio class="queue_songs" src="https://musicplayerdig.s3.us-east-2.amazonaws.com/music/36+Gabz+-+Lighters+(The+One).mp3"></audio></a></div>
                    <div  class="songtexts " ><b>Lighters</b><br>Gabz</div>
                    <div  class="hearts "></div>
                </div>
                <div  class="artistSong A" >
                    <div class="baricon "></div>
                    <div id="song21" class="songimage " ><a onclick="whatilove('A')"  class="Artistplay" ></a><audio class="queue_songs" src="https://musicplayerdig.s3.us-east-2.amazonaws.com/music/37+Katy+B+-+What+Love+Is+Made+Of.mp3"></audio></a></div>
                    <div  class="songtexts " ><b>What i love</b><br>Katty B</div>
                    <div  class="hearts "></div>
                </div>
                <div  class="artistSong A" >
                    <div class="baricon "></div>
                    <div id="song22" class="songimage " ><a onclick="pompeii('A')"  class="Artistplay" ></a><audio class="queue_songs" src="https://musicplayerdig.s3.us-east-2.amazonaws.com/music/38+Bastille+-+Pompeii.mp3"></audio></a></div>
                    <div  class="songtexts " ><b>Pompeii</b><br>Bastille</div>
                    <div  class="hearts "></div>
                </div>
                <div  class="artistSong A" >
                    <div class="baricon "></div>
                    <div id="song23" class="songimage " ><a onclick="radioactive('A')"  class="Artistplay" ></a><audio class="queue_songs" src="https://musicplayerdig.s3.us-east-2.amazonaws.com/music/39+Imagine+Dragons+-+Radioactive.mp3"></audio></a></div>
                    <div  class="songtexts " ><b>RadioActive</b><br>imagine dra</div>
                    <div  class="hearts "></div>
                </div>
                <div  class="artistSong A" >
                    <div class="baricon "></div>
                    <div id="song24" class="songimage " ><a onclick="ringaling('A')"  class="Artistplay" ></a><audio class="queue_songs" src="https://musicplayerdig.s3.us-east-2.amazonaws.com/music/40+Sneakbo+-+Ring+A+Ling.mp3"></audio></a></div>
                    <div  class="songtexts " ><b>Ring A Ling</b><br>Sneakbo</div>
                    <div  class="hearts "></div>
                </div>	
            </div>
            
    </div>
    
    <!-- artists playlist -->
    <div id="justinplaylist" class="border ArtistText">
            <div id="artistpf" class="border">
                <div id="justin" class="artistimage"></div>
                <div id="artistportfolio" class="border">
                    <div class="artistinfo border" >
                        <b>Justin</b><br>
                        Justin Bieber, MBE (/ˈʃɪərən/; born 17 February 1991) is an English singer, songwriter, record producer, and actor. In early 2011
                    </div>
                    <div class="artistinfo border">
                        <div id="playall" onclick="changeArtist('B')" >Play all</div>
                        <div id="follow" >Follow</div>
                        <a href="#artist_genre_trending" style="color: white">X(close)</a>
                    </div>
                </div>
            </div>
            
            <div id="artistplaylist" class="border">
                <h3>artistplaylist</h3>
                <div  class="artistSong B " >
                    <div class="baricon "></div>
                    <div id="song20" class="songimage " ><a onclick="lighters('B')"  class="Artistplay" ></a><audio class="queue_songs" src="https://musicplayerdig.s3.us-east-2.amazonaws.com/music/36+Gabz+-+Lighters+(The+One).mp3"></audio></a></div>
                    <div  class="songtexts " ><b>Lighters</b><br>Gabz</div>
                    <div  class="hearts "></div>
                </div>
                <div  class="artistSong B" >
                    <div class="baricon "></div>
                    <div id="song21" class="songimage " ><a onclick="whatilove('B')"  class="Artistplay" ></a><audio class="queue_songs" src="https://musicplayerdig.s3.us-east-2.amazonaws.com/music/37+Katy+B+-+What+Love+Is+Made+Of.mp3"></audio></a></div>
                    <div  class="songtexts " ><b>What i love</b><br>Katty B</div>
                    <div  class="hearts "></div>
                </div>
                <div  class="artistSong B" >
                    <div class="baricon "></div>
                    <div id="song22" class="songimage " ><a onclick="pompeii('B')"  class="Artistplay" ></a><audio class="queue_songs" src="https://musicplayerdig.s3.us-east-2.amazonaws.com/music/38+Bastille+-+Pompeii.mp3"></audio></a></div>
                    <div  class="songtexts " ><b>Pompeii</b><br>Bastille</div>
                    <div  class="hearts "></div>
                </div>
                <div  class="artistSong B" >
                    <div class="baricon "></div>
                    <div id="song23" class="songimage " ><a onclick="radioactive('B')"  class="Artistplay" ></a><audio class="queue_songs" src="https://musicplayerdig.s3.us-east-2.amazonaws.com/music/39+Imagine+Dragons+-+Radioactive.mp3"></audio></a></div>
                    <div  class="songtexts " ><b>RadioActive</b><br>imagine dra</div>
                    <div  class="hearts "></div>
                </div>
                <div  class="artistSong B" >
                    <div class="baricon "></div>
                    <div id="song24" class="songimage " ><a onclick="ringaling('B')"  class="Artistplay" ></a><audio class="queue_songs" src="https://musicplayerdig.s3.us-east-2.amazonaws.com/music/40+Sneakbo+-+Ring+A+Ling.mp3"></audio></a></div>
                    <div  class="songtexts " ><b>Ring A Ling</b><br>Sneakbo</div>
                    <div  class="hearts "></div>
                </div>	
            </div>
            
    </div>
    
    
    <!-- artists playlist -->
    <div id="rihanaplaylist" class="border ArtistText">
            <div id="artistpf" class="border">
                <div id="rihana" class="artistimage"></div>
                <div id="artistportfolio" class="border">
                    <div class="artistinfo border" >
                        <b>Rihana</b><br>
                        rihana MBE (/ˈʃɪərən/; born 17 February 1991) is an English singer, songwriter, record producer, and actor. In early 2011
                    </div>
                    <div class="artistinfo border">
                        <div id="playall" onclick="changeArtist('C')" >Play all</div>
                        <div id="follow" >Follow</div>
                        <a href="#artist_genre_trending" style="color: white">X(close)</a>
                    </div>
                </div>
            </div>
            
            <div id="artistplaylist" class="border">
                <h3>artistplaylist</h3>
                <div  class="artistSong C " >
                    <div class="baricon "></div>
                    <div id="song20" class="songimage " ><a onclick="lighters('C')"  class="Artistplay" ></a><audio class="queue_songs" src="https://musicplayerdig.s3.us-east-2.amazonaws.com/music/36+Gabz+-+Lighters+(The+One).mp3"></audio></a></div>
                    <div  class="songtexts " ><b>Lighters</b><br>Gabz</div>
                    <div  class="hearts "></div>
                </div>
                <div  class="artistSong C" >
                    <div class="baricon "></div>
                    <div id="song21" class="songimage " ><a onclick="whatilove('C')"  class="Artistplay" ></a><audio class="queue_songs" src="https://musicplayerdig.s3.us-east-2.amazonaws.com/music/37+Katy+B+-+What+Love+Is+Made+Of.mp3"></audio></a></div>
                    <div  class="songtexts " ><b>What i love</b><br>Katty B</div>
                    <div  class="hearts "></div>
                </div>
                <div  class="artistSong C" >
                    <div class="baricon "></div>
                    <div id="song22" class="songimage " ><a onclick="pompeii('C')"  class="Artistplay" ></a><audio class="queue_songs" src="https://musicplayerdig.s3.us-east-2.amazonaws.com/music/38+Bastille+-+Pompeii.mp3"></audio></a></div>
                    <div  class="songtexts " ><b>Pompeii</b><br>Bastille</div>
                    <div  class="hearts "></div>
                </div>
                <div  class="artistSong C" >
                    <div class="baricon "></div>
                    <div id="song23" class="songimage " ><a onclick="radioactive('C')"  class="Artistplay" ></a><audio class="queue_songs" src="https://musicplayerdig.s3.us-east-2.amazonaws.com/music/39+Imagine+Dragons+-+Radioactive.mp3"></audio></a></div>
                    <div  class="songtexts " ><b>RadioActive</b><br>imagine dra</div>
                    <div  class="hearts "></div>
                </div>
                <div  class="artistSong C" >
                    <div class="baricon "></div>
                    <div id="song24" class="songimage " ><a onclick="ringaling('C')"  class="Artistplay" ></a><audio class="queue_songs" src="https://musicplayerdig.s3.us-east-2.amazonaws.com/music/40+Sneakbo+-+Ring+A+Ling.mp3"></audio></a></div>
                    <div  class="songtexts " ><b>Ring A Ling</b><br>Sneakbo</div>
                    <div  class="hearts "></div>
                </div>	
            </div>
            
    </div>
    
    <!-- artists playlist -->
    <div id="maroonplaylist" class="border ArtistText">
            <div id="artistpf" class="border">
                <div id="maroon" class="artistimage"></div>
                <div id="artistportfolio" class="border">
                    <div class="artistinfo border" >
                        <b>maroon Band</b><br>
                        Maroon band MBE (/ˈʃɪərən/; born 17 February 1991) is an English singer, songwriter, record producer, and actor. In early 2011
                    </div>
                    <div class="artistinfo border">
                        <div id="playall" onclick="changeArtist('D')" >Play all</div>
                        <div id="follow" >Follow</div>
                        <a href="#artist_genre_trending" style="color: white">X(close)</a>
                    </div>
                </div>
            </div>
            
            <div id="artistplaylist" class="border">
                <h3>artistplaylist</h3>
                <div  class="artistSong D " >
                    <div class="baricon "></div>
                    <div id="song20" class="songimage " ><a onclick="lighters('D')"  class="Artistplay" ></a><audio class="queue_songs" src="https://musicplayerdig.s3.us-east-2.amazonaws.com/music/36+Gabz+-+Lighters+(The+One).mp3"></audio></a></div>
                    <div  class="songtexts " ><b>Lighters</b><br>Gabz</div>
                    <div  class="hearts "></div>
                </div>
                <div  class="artistSong D" >
                    <div class="baricon "></div>
                    <div id="song21" class="songimage " ><a onclick="whatilove('D')"  class="Artistplay" ></a><audio class="queue_songs" src="https://musicplayerdig.s3.us-east-2.amazonaws.com/music/37+Katy+B+-+What+Love+Is+Made+Of.mp3"></audio></a></div>
                    <div  class="songtexts " ><b>What i love</b><br>Katty B</div>
                    <div  class="hearts "></div>
                </div>
                <div  class="artistSong D" >
                    <div class="baricon "></div>
                    <div id="song22" class="songimage " ><a onclick="pompeii('D')"  class="Artistplay" ></a><audio class="queue_songs" src="https://musicplayerdig.s3.us-east-2.amazonaws.com/music/38+Bastille+-+Pompeii.mp3"></audio></a></div>
                    <div  class="songtexts " ><b>Pompeii</b><br>Bastille</div>
                    <div  class="hearts "></div>
                </div>
                <div  class="artistSong D" >
                    <div class="baricon "></div>
                    <div id="song23" class="songimage " ><a onclick="radioactive('D')"  class="Artistplay" ></a><audio class="queue_songs" src="https://musicplayerdig.s3.us-east-2.amazonaws.com/music/39+Imagine+Dragons+-+Radioactive.mp3"></audio></a></div>
                    <div  class="songtexts " ><b>RadioActive</b><br>imagine dra</div>
                    <div  class="hearts "></div>
                </div>
                <div  class="artistSong D" >
                    <div class="baricon "></div>
                    <div id="song24" class="songimage " ><a onclick="ringaling('D')"  class="Artistplay" ></a><audio class="queue_songs" src="https://musicplayerdig.s3.us-east-2.amazonaws.com/music/40+Sneakbo+-+Ring+A+Ling.mp3"></audio></a></div>
                    <div  class="songtexts " ><b>Ring A Ling</b><br>Sneakbo</div>
                    <div  class="hearts "></div>
                </div>	
            </div>
            
    </div>
    
    <!-- artists playlist -->
    <div id="taylorplaylist" class="border ArtistText">
            <div id="artistpf" class="border">
                <div id="taylor" class="artistimage"></div>
                <div id="artistportfolio" class="border">
                    <div class="artistinfo border" >
                        <b>taylor swift</b><br>
                        taylor Swift, MBE (/ˈʃɪərən/; born 17 February 1991) is an English singer, songwriter, record producer, and actor. In early 2011
                    </div>
                    <div class="artistinfo border">
                        <div id="playall" onclick="changeArtist('E')" >Play all</div>
                        <div id="follow" >Follow</div>
                        <a href="#artist_genre_trending" style="color: white">X(close)</a>
                    </div>
                </div>
            </div>
            
            <div id="artistplaylist" class="border">
                <h3>artistplaylist</h3>
                <div  class="artistSong E " >
                    <div class="baricon "></div>
                    <div id="song20" class="songimage " ><a onclick="lighters('E')"  class="Artistplay" ></a><audio class="queue_songs" src="https://musicplayerdig.s3.us-east-2.amazonaws.com/music/36+Gabz+-+Lighters+(The+One).mp3"></audio></a></div>
                    <div  class="songtexts " ><b>Lighters</b><br>Gabz</div>
                    <div  class="hearts "></div>
                </div>
                <div  class="artistSong E" >
                    <div class="baricon "></div>
                    <div id="song21" class="songimage " ><a onclick="whatilove('E')"  class="Artistplay" ></a><audio class="queue_songs" src="https://musicplayerdig.s3.us-east-2.amazonaws.com/music/37+Katy+B+-+What+Love+Is+Made+Of.mp3"></audio></a></div>
                    <div  class="songtexts " ><b>What i love</b><br>Katty B</div>
                    <div  class="hearts "></div>
                </div>
                <div  class="artistSong E" >
                    <div class="baricon "></div>
                    <div id="song22" class="songimage " ><a onclick="pompeii('E')"  class="Artistplay" ></a><audio class="queue_songs" src="https://musicplayerdig.s3.us-east-2.amazonaws.com/music/38+Bastille+-+Pompeii.mp3"></audio></a></div>
                    <div  class="songtexts " ><b>Pompeii</b><br>Bastille</div>
                    <div  class="hearts "></div>
                </div>
                <div  class="artistSong E" >
                    <div class="baricon "></div>
                    <div id="song23" class="songimage " ><a onclick="radioactive('E')"  class="Artistplay" ></a><audio class="queue_songs" src="https://musicplayerdig.s3.us-east-2.amazonaws.com/music/39+Imagine+Dragons+-+Radioactive.mp3"></audio></a></div>
                    <div  class="songtexts " ><b>RadioActive</b><br>imagine dra</div>
                    <div  class="hearts "></div>
                </div>
                <div  class="artistSong E" >
                    <div class="baricon "></div>
                    <div id="song24" class="songimage " ><a onclick="ringaling('E')"  class="Artistplay" ></a><audio class="queue_songs" src="https://musicplayerdig.s3.us-east-2.amazonaws.com/music/40+Sneakbo+-+Ring+A+Ling.mp3"></audio></a></div>
                    <div  class="songtexts " ><b>Ring A Ling</b><br>Sneakbo</div>
                    <div  class="hearts "></div>
                </div>	
            </div>
            
    </div>
    
    <!-- artists playlist -->
    <div id="brunoplaylist" class="border ArtistText">
            <div id="artistpf" class="border">
                <div id="bruno" class="artistimage"></div>
                <div id="artistportfolio" class="border">
                    <div class="artistinfo border" >
                        <b>Bruno</b><br>
                        Bruno, MBE (/ˈʃɪərən/; born 17 February 1991) is an English singer, songwriter, record producer, and actor. In early 2011
                    </div>
                    <div class="artistinfo border">
                        <div id="playall" onclick="changeArtist('F')" >Play all</div>
                        <div id="follow" >Follow</div>
                        <a href="#artist_genre_trending" style="color: white">X(close)</a>
                    </div>
                </div>
            </div>
            
            <div id="artistplaylist" class="border">
                <h3>artistplaylist</h3>
                <div  class="artistSong F " >
                    <div class="baricon "></div>
                    <div id="song20" class="songimage " ><a onclick="lighters('F')"  class="Artistplay" ></a><audio class="queue_songs" src="https://musicplayerdig.s3.us-east-2.amazonaws.com/music/36+Gabz+-+Lighters+(The+One).mp3"></audio></a></div>
                    <div  class="songtexts " ><b>Lighters</b><br>Gabz</div>
                    <div  class="hearts "></div>
                </div>
                <div  class="artistSong F" >
                    <div class="baricon "></div>
                    <div id="song21" class="songimage " ><a onclick="whatilove('F')"  class="Artistplay" ></a><audio class="queue_songs" src="https://musicplayerdig.s3.us-east-2.amazonaws.com/music/37+Katy+B+-+What+Love+Is+Made+Of.mp3"></audio></a></div>
                    <div  class="songtexts " ><b>What i love</b><br>Katty B</div>
                    <div  class="hearts "></div>
                </div>
                <div  class="artistSong F" >
                    <div class="baricon "></div>
                    <div id="song22" class="songimage " ><a onclick="pompeii('F')"  class="Artistplay" ></a><audio class="queue_songs" src="https://musicplayerdig.s3.us-east-2.amazonaws.com/music/38+Bastille+-+Pompeii.mp3"></audio></a></div>
                    <div  class="songtexts " ><b>Pompeii</b><br>Bastille</div>
                    <div  class="hearts "></div>
                </div>
                <div  class="artistSong F" >
                    <div class="baricon "></div>
                    <div id="song23" class="songimage " ><a onclick="radioactive('F')"  class="Artistplay" ></a><audio class="queue_songs" src="https://musicplayerdig.s3.us-east-2.amazonaws.com/music/39+Imagine+Dragons+-+Radioactive.mp3"></audio></a></div>
                    <div  class="songtexts " ><b>RadioActive</b><br>imagine dra</div>
                    <div  class="hearts "></div>
                </div>
                <div  class="artistSong F" >
                    <div class="baricon "></div>
                    <div id="song24" class="songimage " ><a onclick="ringaling('F')"  class="Artistplay" ></a><audio class="queue_songs" src="https://musicplayerdig.s3.us-east-2.amazonaws.com/music/40+Sneakbo+-+Ring+A+Ling.mp3"></audio></a></div>
                    <div  class="songtexts " ><b>Ring A Ling</b><br>Sneakbo</div>
                    <div  class="hearts "></div>
                </div>	
            </div>
            
    </div>
    
    
    <!-- genre playlist song -->
    <div id="partyplaylist">
        <h1>Party</h1><div id="playall" onclick="changeArtist('party')" >Play all</div><span><a href="#genre" style="color: white">X(close)</a></span>
                <div  class="genreSong party" >
                    <div class="baricon "></div>
                    <div id="song20" class="songimage " ><a onclick="lighters('party')"  class="Artistplay" ></a><audio class="queue_songs" src="https://musicplayerdig.s3.us-east-2.amazonaws.com/music/36+Gabz+-+Lighters+(The+One).mp3"></audio></a></div>
                    <div  class="songtexts " ><b>Lighters</b><br>Gabz</div>
                    <div  class="hearts "></div>
                </div>
                <div  class="genreSong party" >
                    <div class="baricon "></div>
                    <div id="song21" class="songimage " ><a onclick="whatilove('party')"  class="Artistplay" ></a><audio class="queue_songs" src="https://musicplayerdig.s3.us-east-2.amazonaws.com/music/37+Katy+B+-+What+Love+Is+Made+Of.mp3"></audio></a></div>
                    <div  class="songtexts " ><b>What i love</b><br>Katty B</div>
                    <div  class="hearts "></div>
                </div>
                <div  class="genreSong party" >
                    <div class="baricon "></div>
                    <div id="song22" class="songimage " ><a onclick="pompeii('party')"  class="Artistplay" ></a><audio class="queue_songs" src="https://musicplayerdig.s3.us-east-2.amazonaws.com/music/38+Bastille+-+Pompeii.mp3"></audio></a></div>
                    <div  class="songtexts " ><b>Pompeii</b><br>Bastille</div>
                    <div  class="hearts "></div>
                </div>
                <div  class="genreSong party" >
                    <div class="baricon "></div>
                    <div id="song23" class="songimage " ><a onclick="radioactive('party')"  class="Artistplay" ></a><audio class="queue_songs" src="https://musicplayerdig.s3.us-east-2.amazonaws.com/music/39+Imagine+Dragons+-+Radioactive.mp3"></audio></a></div>
                    <div  class="songtexts " ><b>RadioActive</b><br>imagine dra</div>
                    <div  class="hearts "></div>
                </div>
                <div  class="genreSong party" >
                    <div class="baricon "></div>
                    <div id="song24" class="songimage " ><a onclick="ringaling('party')"  class="Artistplay" ></a><audio class="queue_songs" src="https://musicplayerdig.s3.us-east-2.amazonaws.com/music/40+Sneakbo+-+Ring+A+Ling.mp3"></audio></a></div>
                    <div  class="songtexts " ><b>Ring A Ling</b><br>Sneakbo</div>
                    <div  class="hearts "></div>
                </div>
        
    </div>
    
    <div id="roadtripplaylist">
        <h1>Roadtrip</h1><div id="playall" onclick="changeArtist('Roadtrip')" >Play all</div><a href="#genre" style="color: white">X(close)</a>
                <div  class="genreSong Roadtrip" >
                    <div class="baricon "></div>
                    <div id="song20" class="songimage " ><a onclick="lighters('Roadtrip')"  class="Artistplay" ></a><audio class="queue_songs" src="https://musicplayerdig.s3.us-east-2.amazonaws.com/music/36+Gabz+-+Lighters+(The+One).mp3"></audio></a></div>
                    <div  class="songtexts " ><b>Lighters</b><br>Gabz</div>
                    <div  class="hearts "></div>
                </div>
                <div  class="genreSong Roadtrip" >
                    <div class="baricon "></div>
                    <div id="song21" class="songimage " ><a onclick="whatilove('Roadtrip')"  class="Artistplay" ></a><audio class="queue_songs" src="https://musicplayerdig.s3.us-east-2.amazonaws.com/music/37+Katy+B+-+What+Love+Is+Made+Of.mp3"></audio></a></div>
                    <div  class="songtexts " ><b>What i love</b><br>Katty B</div>
                    <div  class="hearts "></div>
                </div>
                <div  class="genreSong Roadtrip" >
                    <div class="baricon "></div>
                    <div id="song22" class="songimage " ><a onclick="pompeii('Roadtrip')"  class="Artistplay" ></a><audio class="queue_songs" src="https://musicplayerdig.s3.us-east-2.amazonaws.com/music/38+Bastille+-+Pompeii.mp3"></audio></a></div>
                    <div  class="songtexts " ><b>Pompeii</b><br>Bastille</div>
                    <div  class="hearts "></div>
                </div>
                <div  class="genreSong Roadtrip" >
                    <div class="baricon "></div>
                    <div id="song23" class="songimage " ><a onclick="radioactive('Roadtrip')"  class="Artistplay" ></a><audio class="queue_songs" src="https://musicplayerdig.s3.us-east-2.amazonaws.com/music/39+Imagine+Dragons+-+Radioactive.mp3"></audio></a></div>
                    <div  class="songtexts " ><b>RadioActive</b><br>imagine dra</div>
                    <div  class="hearts "></div>
                </div>
                <div  class="genreSong Roadtrip" >
                    <div class="baricon "></div>
                    <div id="song24" class="songimage " ><a onclick="ringaling('Roadtrip')"  class="Artistplay" ></a><audio class="queue_songs" src="https://musicplayerdig.s3.us-east-2.amazonaws.com/music/40+Sneakbo+-+Ring+A+Ling.mp3"></audio></a></div>
                    <div  class="songtexts " ><b>Ring A Ling</b><br>Sneakbo</div>
                    <div  class="hearts "></div>
                </div>
        
    </div>
    
    <div id="electronicplaylist">
        <h1>Electronic</h1><div id="playall" onclick="changeArtist('electronic')" >Play all</div><a href="#genre" style="color: white">X(close)</a>
                <div  class="genreSong electronic" >
                    <div class="baricon "></div>
                    <div id="song20" class="songimage " ><a onclick="lighters('electronic')"  class="Artistplay" ></a><audio class="queue_songs" src="https://musicplayerdig.s3.us-east-2.amazonaws.com/music/36+Gabz+-+Lighters+(The+One).mp3"></audio></a></div>
                    <div  class="songtexts " ><b>Lighters</b><br>Gabz</div>
                    <div  class="hearts "></div>
                </div>
                <div  class="genreSong electronic" >
                    <div class="baricon "></div>
                    <div id="song21" class="songimage " ><a onclick="whatilove('electronic')"  class="Artistplay" ></a><audio class="queue_songs" src="https://musicplayerdig.s3.us-east-2.amazonaws.com/music/37+Katy+B+-+What+Love+Is+Made+Of.mp3"></audio></a></div>
                    <div  class="songtexts " ><b>What i love</b><br>Katty B</div>
                    <div  class="hearts "></div>
                </div>
                <div  class="genreSong electronic" >
                    <div class="baricon "></div>
                    <div id="song22" class="songimage " ><a onclick="pompeii('electronic')"  class="Artistplay" ></a><audio class="queue_songs" src="https://musicplayerdig.s3.us-east-2.amazonaws.com/music/38+Bastille+-+Pompeii.mp3"></audio></a></div>
                    <div  class="songtexts " ><b>Pompeii</b><br>Bastille</div>
                    <div  class="hearts "></div>
                </div>
                <div  class="genreSong electronic" >
                    <div class="baricon "></div>
                    <div id="song23" class="songimage " ><a onclick="radioactive('electronic')"  class="Artistplay" ></a><audio class="queue_songs" src="https://musicplayerdig.s3.us-east-2.amazonaws.com/music/39+Imagine+Dragons+-+Radioactive.mp3"></audio></a></div>
                    <div  class="songtexts " ><b>RadioActive</b><br>imagine dra</div>
                    <div  class="hearts "></div>
                </div>
                <div  class="genreSong electronic" >
                    <div class="baricon "></div>
                    <div id="song24" class="songimage " ><a onclick="ringaling('electronic')"  class="Artistplay" ></a><audio class="queue_songs" src="https://musicplayerdig.s3.us-east-2.amazonaws.com/music/40+Sneakbo+-+Ring+A+Ling.mp3"></audio></a></div>
                    <div  class="songtexts " ><b>Ring A Ling</b><br>Sneakbo</div>
                    <div  class="hearts "></div>
                </div>
        
    </div>
    <div id="relaxplaylist">
        <h1>relax</h1><div id="playall" onclick="changeArtist('relax')">Play all</div><a href="#genre" style="color: white">X(close)</a>
                <div  class="genreSong relax" >
                    <div class="baricon "></div>
                    <div id="song20" class="songimage " ><a onclick="lighters('relax')"  class="Artistplay" ></a><audio class="queue_songs" src="https://musicplayerdig.s3.us-east-2.amazonaws.com/music/36+Gabz+-+Lighters+(The+One).mp3"></audio></a></div>
                    <div  class="songtexts " ><b>Lighters</b><br>Gabz</div>
                    <div  class="hearts "></div>
                </div>
                <div  class="genreSong relax" >
                    <div class="baricon "></div>
                    <div id="song21" class="songimage " ><a onclick="whatilove('relax')"  class="Artistplay" ></a><audio class="queue_songs" src="https://musicplayerdig.s3.us-east-2.amazonaws.com/music/37+Katy+B+-+What+Love+Is+Made+Of.mp3"></audio></a></div>
                    <div  class="songtexts " ><b>What i love</b><br>Katty B</div>
                    <div  class="hearts "></div>
                </div>
                <div  class="genreSong relax" >
                    <div class="baricon "></div>
                    <div id="song22" class="songimage " ><a onclick="pompeii('relax')"  class="Artistplay" ></a><audio class="queue_songs" src="https://musicplayerdig.s3.us-east-2.amazonaws.com/music/38+Bastille+-+Pompeii.mp3"></audio></a></div>
                    <div  class="songtexts " ><b>Pompeii</b><br>Bastille</div>
                    <div  class="hearts "></div>
                </div>
                <div  class="genreSong relax" >
                    <div class="baricon "></div>
                    <div id="song23" class="songimage " ><a onclick="radioactive('relax')"  class="Artistplay" ></a><audio class="queue_songs" src="https://musicplayerdig.s3.us-east-2.amazonaws.com/music/39+Imagine+Dragons+-+Radioactive.mp3"></audio></a></div>
                    <div  class="songtexts " ><b>RadioActive</b><br>imagine dra</div>
                    <div  class="hearts "></div>
                </div>
                <div  class="genreSong relax" >
                    <div class="baricon "></div>
                    <div id="song24" class="songimage " ><a onclick="ringaling('relax')"  class="Artistplay" ></a><audio class="queue_songs" src="https://musicplayerdig.s3.us-east-2.amazonaws.com/music/40+Sneakbo+-+Ring+A+Ling.mp3"></audio></a></div>
                    <div  class="songtexts " ><b>Ring A Ling</b><br>Sneakbo</div>
                    <div  class="hearts "></div>
                </div>
        
    </div>
    
    <!-- album playlist -->
    <div id="albumlist">
        <h1>relax</h1><div id="playall" onclick="changeArtist('rel')">Play all</div><a href="#artist_genre_trending" style="color: white">X(close)</a>
                <div  class="albumSong rel" >
                    <div class="baricon "></div>
                    <div id="song25" class="songimage " ><a onclick="lighters('rel')"  class="Artistplay" ></a><audio class="queue_songs" src="https://musicplayerdig.s3.us-east-2.amazonaws.com/albums/how+i+am+feelin/Charli+XCX+-+claws+%5BOfficial+Video%5D.mp3"></audio></a></div>
                    <div  class="songtexts " ><b>claws</b><br>charli xcx</div>
                    <div  class="hearts "></div>
                </div>
                <div  class="albumSong rel" >
                    <div class="baricon "></div>
                    <div id="song26" class="songimage " ><a onclick="whatilove('rel')"  class="Artistplay" ></a><audio class="queue_songs" src="https://musicplayerdig.s3.us-east-2.amazonaws.com/albums/how+i+am+feelin/Charli+XCX+-+how+im+feeling+now+making+the+album%2C+week+2.mp3"></audio></a></div>
                    <div  class="songtexts " ><b>making</b><br>chari xcx</div>
                    <div  class="hearts "></div>
                </div>
                <div  class="albumSong rel" >
                    <div class="baricon "></div>
                    <div id="song27" class="songimage " ><a onclick="pompeii('rel')"  class="Artistplay" ></a><audio class="queue_songs" src="https://musicplayerdig.s3.us-east-2.amazonaws.com/albums/how+i+am+feelin/Charli+XCX+-+pink+diamond+%5BOfficial+Audio%5D.mp3"></audio></a></div>
                    <div  class="songtexts " ><b>making diamond</b><br>charli xcx</div>
                    <div  class="hearts "></div>
                </div>
                <div  class="albumSong rel" >
                    <div class="baricon "></div>
                    <div id="song28" class="songimage " ><a onclick="radioactive('rel')"  class="Artistplay" ></a><audio class="queue_songs" src="https://musicplayerdig.s3.us-east-2.amazonaws.com/music/39+Imagine+Dragons+-+Radioactive.mp3"></audio></a></div>
                    <div  class="songtexts " ><b>RadioActive</b><br>charli xcx</div>
                    <div  class="hearts "></div>
                </div>
    </div>
    
    <div id="favor">
        <h1>favorite</h1><a href="#artist_genre_trending" style="color: white">X(close)</a>
        <div >
            <div class="favoritebox " >
                favorite artist
                <ul id="favartist">                 
                    <% for (artist of favartists){ %>
                    
                      <%- include('_favArtist') -%>
                            
                    <% }  %>
                
            </ul>

            </div>
            <div class="favoritebox ">favorite songs
                <ul id="favsong">
                <% for(song of allfavsong){ %>

                    <%- include('_favsong') -%>

                <% } %>
                </ul>
            </div>
            <div class="favoritebox ">favorite albums</div>
        </div>
                
    </div>

    <% } else { %>
        <h1 >oops!  Login first</h1>

    <% } %>
 
