
 
     <link rel="stylesheet" href="./css/header.css">
     <link rel="stylesheet"  href="./css/main.css">
     <link rel="stylesheet"  href="./css/songs.css">
     <link rel="stylesheet"  href="./css/trending.css">
     <link rel="stylesheet"  href="./css/footer.css">
     <link rel="stylesheet"  href="./css/artistplaylist.css">
     <link rel="stylesheet"  href="./css/genre.css">
     
     <link rel="stylesheet"  href="./css/favorites.css">
	<link rel="stylesheet" href="./css/musicplaylist.css">
    <link rel="stylesheet" href="./css/albums.css">
    <link rel="stylesheet" href="./css/queues.css">
    
 
 
<%  if( locals.user ){  %>

    
    <%- include('_musicplayer_header') %>

    <!-- Slideshow container -->
        <%- include('_musicplayer_carousel') %>
    
    <!-- main section of player contain artist genre trending and playlist-->
    <%- include('_musicplayer_main') %>
    
    <!-- albums -->
    <%- include('_musicplayer_albums') %>
    
    
    <!-- footer -->
    <%- include('_musicplayer_footer') %>
    
    
    <!-- artists playlist -->
    <%- include('_musicplayer_artist_playlist') %>
    
    
    <!-- genre playlist song -->
    <%- include('_musicplayer_genre_playlist') %>
    
    <!-- album playlist -->
    <%- include('_musicplayer_albums_playlist') %>
    

    <!-- user favorites songs and artists -->
    <div id="favor">
        <h1>favorite</h1><a href="#artist_genre_trending" style="color: white">X(close)</a>
        <div >
            <div class="favoritebox " >
                favorite artist
                <ul id="favartist">                 
                    <% for (artist of favartists){ %>
                    
                      <%- include('_favArtist') -%>
                            
                    <% }  %>
                
            </ul>

            </div>
            <div class="favoritebox ">favorite songs
                <ul id="favsong">
                <% for(song of allfavsong){ %>

                    <%- include('_favsong') -%>

                <% } %>
                </ul>
            </div>
            
        </div>
                
    </div>

    <!-- user  playlist -->
    <div id="musicplaylist">
        <h1>Playlist</h1><div id="playall" onclick="changeArtist('userplaylist')" >Play all</div><span><a href="#" style="color: white">X(close)</a></span>
        <ul id="music_playlist" style="width: 100%;">
            <% for (song of allplaylistSong){ %>
                <%- include('_playlist') -%>
            <% } %>
        </ul>
        
    </div>
    <!-- user currentlyplaying  queues -->
    <div id="queues">
        <h1>queue</h1><div id="playall" onclick="changeArtist('queueSongs')" >Play all</div><span><a href="#" style="color: white">X(close)</a></span>
        
        
    </div>

<% } else { %>

        <h1 >oops!  Login first</h1>

<% } %>


<script type="text/javascript" src="./js/cor.js"></script>
<script type="text/javascript" src="./js/queue.js"></script>
<script  type="text/javascript" src="./js/artistsplaylists.js"></script>
<script  type="text/javascript" src="./js/queues.js"></script>
<script  type="text/javascript" src="./js/favArtist_ajax.js"></script>
<script  type="text/javascript" src="./js/favSong_ajax.js"></script>
<script  type="text/javascript" src="./js/musicplaylist_ajax.js"></script>




